$font-family-sans-serif: (
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  Arial,
  system-ui,
  sans-serif
);

@import '~bootstrap/scss/bootstrap';
@import '../style/swipeout';

// overwrite some bootstrap styles

.swipeout__action {
  color: $white !important;
}

.list-group {
  list-style-type: none;
  margin-bottom: 5em;
}

.list-group-item {
  align-items: flex-start;
  padding: 0;

  border-color: $swipeout-action-background;
  border-radius: 0 !important;
  border-left-width: 0;
  border-right-width: 0;
}

.container {
  padding-right: 0;
  padding-left: 0;
}

.my-4 {
  padding: 0 10px;
}

// add an email template for the example page

.email__info {
  display: flex;
  justify-content: space-between;
  line-height: 1.2;
}

.email__author {
  font-weight: 500;
  margin: 0;
}

.email__date {
  font-size: 0.9375rem;
  margin: 0;
  color: #9e9e9e;
}

.email__title {
  font-size: 0.9375rem;
  margin: 0;
}

.email__body {
  line-height: 1.3;
  font-size: 0.9375rem;
  margin: 0;
  color: #949494;
}

// add custom swipeout action colours

.swipeout__content {
  padding: {
    top: 10px;
    right: 20px;
    left: 20px;
    bottom: 8px;
  }
}

.swipeout__action--unread {
  background-color: #007Aff;
}

.swipeout__action--trash {
  background-color: #FF3B30;
}

.swipeout__action--flag {
  background-color: #FF9500;
}
