$swipeout-transition: 300ms !default;
$swipeout-overlay-background: white !default;
$swipeout-action-width: 74px !default;
$swipeout-action-background: #C7C7CC !default;
$swipeout-action-font-color: white !default;
$swipeout-action-font-size: 0.9375rem !default;
$swipeout-action-icon-size: 2.25rem !default;

.swipeout {
  display: flex;
  position: relative;
  overflow: hidden;
  user-select: none;
}

.swipeout__left,
.swipeout__right {
  > :first-child {
    position: absolute;
    height: 100%;
    display: flex;
  }
}

.swipeout__left > :first-child {
  left: 0;
  transform: translateX(-100%);
}

.swipeout__right > :first-child {
  right: 0;
  transform: translateX(100%);
}

.swipeout__overlay {
  width: 100%;
  background: $swipeout-overlay-background;
}

// actions

.swipeout__action {
  display: table;
  table-layout: fixed;

  width: $swipeout-action-width;
  height: 100%;

  font-size: $swipeout-action-font-size;
  font-weight: 500;
  line-height: 1.2;

  color: $swipeout-action-font-color;
  background: $swipeout-action-background;

  text-align: center;
  word-wrap: break-word;
}

.swipeout__button {
  display: table-cell;
  box-sizing: border-box;

  padding: 0;
  margin: 0;
  border: 0;

  width: 100%;
  height: 100%;

  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  background: inherit;

  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: 0;
  }
}

.swipeout__icon {
  display: block;
  font-size: $swipeout-action-icon-size;

  width: 1em;
  height: 1em;

  margin: {
    left: auto;
    right: auto;
    bottom: 0.5rem;
  }

  path,
  polygon,
  rect {
    fill: currentColor;
  }

  circle {
    stroke: currentColor;
    stroke-width: 1;
  }
}

// transition

.swipeout__overlay,
.swipeout__action {
  will-change: transform;
}

.swipeout--transitioning {
  .swipeout__overlay,
  .swipeout__action {
    transition: transform $swipeout-transition;
  }
}
